/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

.header {
  text-align: center;
}

h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.main-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: row;
}

.main-container .board {
  min-width: 15%;
  border: 1px solid #000;
  text-align: center;
}

.main-container .board .header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.main-container .board .input-new-item {
  margin: 5px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container .board .input-new-item > * {
  margin: 0 5px;
}

.hide-input {
  display: none;
}

input {
  padding: 1px 2px;
}

.main-container .board .item {
  justify-content: space-between;
  width: auto;
  height: 35px;
  background-color: #e4dede;
  border: 1px solid grey;
  margin: 15px 10px;
  padding: 0 10px;
  display: flex;
  align-items: center;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.btn {
  height: "20px";
  margin-left: 5px;
}

button {
  cursor: pointer;
}

@media screen and (max-width: 400px) {
  .main-container {
    flex-direction: column;
  }

  .main-container .board {
    padding: 5px;
    margin: 15px 0;
  }
}
